name: Build

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4

      - name: Set node version
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm

      - name: Install
        run: pnpm i

      - name: Test
        run: pnpm run test

      - name: Lint
        run: pnpm run lint

      - name: TypeCheck
        run: pnpm run typecheck

      - name: Setup Pages
        id: setup_pages
        uses: actions/configure-pages@v5

      - name: Build with default settings
        run: pnpm run build --base ${{ steps.setup_pages.outputs.base_path }}

      - name: Build with repo settings
        if: github.event_name != 'pull_request' && github.ref_name == 'master' && github.repository == 'CzBiX/openwrt-firmware-selector'
        run: pnpm run build --base ${{ steps.setup_pages.outputs.base_path }}/${{ vars.VITE_BRAND_NAME }} --outDir ./dist/${{ vars.VITE_BRAND_NAME }}
        env:
          VITE_BRAND_NAME: ${{ vars.VITE_BRAND_NAME }}
          VITE_HOME_URL: ${{ vars.VITE_HOME_URL }}
          VITE_DOWNLOAD_URL: ${{ vars.VITE_DOWNLOAD_URL }}
          VITE_ASU_URL: ${{ vars.VITE_ASU_URL }}
          VITE_GITHUB_REPO: ${{ github.repository }}
          VITE_RECENT_MAJOR_VERSION: ${{ vars.VITE_RECENT_MAJOR_VERSION }}
          VITE_RECOMMENDED_PACKAGES: ${{ vars.VITE_RECOMMENDED_PACKAGES }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build
    if: github.event_name != 'pull_request' && github.ref_name == 'master'

    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    concurrency:
      group: pages
      cancel-in-progress: false

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
